<a href="https://colab.research.google.com/github/martlegaspi/58013-Linear-Algebra/blob/main/Review_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Python Indentation

if 5>2:
 print("Five is greater than two!")

Five is greater than two!

In [4]:
#This is a comment

print("Hello, world")

Hello, world

In [10]:
#Python Variable

x=1
a, b=0, -1
a, b, c=0, -1, 2

b="Sally" #This is a type of string

In [5]:
#Casting

b="sally" #This is a type of string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

In [9]:
#Type() Function

x=5
y="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [11]:
#"Double quotes" or 'single' quotes

y="John"
y='John'

In [12]:
#Case sensitive

a=4
A="Sally"
#A will not overwrite a

In [16]:
#Multiple Variables

x,y,z="one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

In [17]:
#One Value to Multiple Variables

x=y=z="four"
print(x)
print(y)
print(z)

four
four
four

In [21]:
#Output Variables

x="enjoying"

print("Python programming is "+ x)

Python programming is enjoying

In [24]:
#Other way

x="Python is "
y="enjoying"
z=x+y
print(z)

Python is enjoying

In [25]:
#Arithmetic Operation

x=5
y=3
print(x+y)

x=5
y=3
sum=x+y
sum

8

8

In [26]:
#Assignment Operator

a,b,c=0,-1,6
c%=3
c

0

In [29]:
#Comparison Operator and Logical Operator

a,b,c=0,-1,6
a>b and c>b
True

True

In [30]:
#Identity Operator

a,b,c=0,-1,5
a is c
False

False

In [37]:
#Bitwise Operator

a,b,c=0,-1,5

print(c<<1)
print(c>>1)

10
2